---
const title = "Mailer";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="max-w-7xl flex flex-col justify-center mx-8 relative bg-[url('https://i.ytimg.com/vi/ouJq0oevLIg/maxresdefault.jpg')] bg-[#1a202c] bg-blend-overlay bg-opacity-98 text-slate-100"
  >
    <div class="flex m-4 justify-center items-center">
      <h1 class="text-3xl font-semibold">iZUES Mailer v1.0</h1>
    </div>
    <slot/>
  </body>
</html>
